body {
  margin: 0;
  text-align: center;
  font-family: 'Arial';
  background-color: #F5F7F8;
  width:100vw;
  height: 100vh;
}

textarea {
  padding: 5px;
  width: 488px;
  height: 200px;
  font-family: sans-serif;
  font-size: medium;
  resize: none;
  border-radius: 5px;
}

h1 {
  color: black;
  margin: 15px;
}

.container {
  margin-top: 15px;
  padding: 15px;
  width: 600px;
}

.form-btn {
  width: 500px;
  height: 30px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #3374f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #285ac1;
}

@media (max-width: 600px) {
  body {
    margin: 0;
    width: 100vw;
    height: 98vw;
  }
  textarea {
    width: 338px;
    height: 100px;
    font-size: large;
  }
  .container {
    width: 400px;
  }
  .form-btn {
    width: 350px;
    height: 40px;
  }
}